<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='echarts.js') }}"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1000px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 显示标题，图例和空的坐标轴
        myChart.setOption({
            title: {
                text: 'BTC/USDT的不同交易所价格对比'
            },
            tooltip: {},
            legend: {
                data:['火币','okcoin']
            },
            xAxis: {
                data: []
            },
            yAxis: {},
            series: [{
                name: '火币',
                type: 'line',
                data: []
            },
            {
                name: 'okcoin',
                type: 'line',
                data: []
            }]
        });

        // 异步加载数据
        function addData(){
            $.get('/5minutesaverage').done(function (data) {
                // 填入数据
                myChart.setOption({
                    xAxis: {
                        data: data.time
                    },
                    series: [{
                        // 根据名字对应到相应的系列
                        name: '火币',
                        data: data.aver_hb.map(parseFloat)
                    },
                    {
                        // 根据名字对应到相应的系列
                        name: 'okcoin',
                        data: data.aver_okcoin.map(parseFloat)
                    }
                    ]
                });
            });
        }
        // 使用刚指定的配置项和数据显示图表。

        myChart.timeTicket = setInterval(function () {
		addData(); //动态刷新
	}, 500);
    </script>
</body>
</html>